.root {
    -fx-background-color: #FCEADD;
}

.button {
    -fx-background-color: #B34B6C;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-border-width: 5;
    /*-fx-border-color: #133b04;*/
    -fx-border-radius: 2;
}

.button:hover {
    -fx-background-color: #723146;
}

.tool-bar {
    -fx-background-color: #0d2a03;
}

.menu-bar {
    -fx-background-color: transparent;
}

.menu {
    -fx-label-padding: 3px;
}

.menu .label, .menu-item .label {
    -fx-text-fill: #eee;
}

.menu:hover, .menu:focused, .menu:pressed {
    -fx-background-color: #B34B6C;
}

.menu-item:hover {
    -fx-background-color: #B33559;
}

.context-menu {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.tile-tooltip {
    -fx-font: normal bold 14 Langdon;
    -fx-base: #AE3522;
    -fx-text-fill: orange;
    -fx-border-radius: 40;
    -fx-background-color: #B34B6C;
}

